{% set htmlLocale = app.request.locale|default(defaultlocale)|slice(0,2) %}

<!DOCTYPE html>

<!--[if lte IE7]> <html class="no-js lt-ie9 lt-ie8" lang="{{ htmlLocale }}"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="{{ htmlLocale }}"> <![endif]-->
<!--[if gte IE 9]><!-->  <html class="no-js" lang="{{ htmlLocale }}"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{ websitetitle | trans }}
        {% block title %}
            {% if page is defined and nodemenu.getActiveForDepth(2) is not null %}
                - {{ get_title_for(page) }}
            {% endif %}
        {% endblock %}
    </title>

    {% if page is defined %}
        {{ render_seo_metadata_for(page) }}
    {% endif %}

    {% include '<%= bundle.getName() %>:Layout:_favicons.html.twig' %}
    {% include '<%= bundle.getName() %>:Layout:_css.html.twig' %}

    {% include '<%= bundle.getName() %>:Layout:_js_header.html.twig' %}
</head>
<body {% block extra_body_attributes %}{% endblock %}>

    {# Google Tagmanager #}
    {% include '<%= bundle.getName() %>:Layout:_googletagmanager.html.twig' %}

    {# Website Warnings #}
    {% block appwarnings %}
        {% include '<%= bundle.getName() %>:Layout:appwarnings.html.twig' %}
    {% endblock %}

    {# Main Header #}
    {% block header %}
        {% include '<%= bundle.getName() %>:Layout:header.html.twig' %}
    {% endblock %}

    {# Main Content #}
    <main role="main" {% block extra_main_attributes %}{% endblock %}>

        {# Breadcrumbs #}
        {% block breadcrumbs %}
            {% include '<%= bundle.getName() %>:Layout:breadcrumbs.html.twig' %}
        {% endblock %}

        {# Content #}
        {% block content %}{% endblock %}
    </main>

    {# Main Footer #}
    {% block mainfooter %}
        {% include 'KunsthuisWebsiteBundle:Layout:footer.html.twig' %}
    {% endblock %}

    {# Js #}
    {% include '<%= bundle.getName() %>:Layout:_js_footer.html.twig' %}
</body>
</html>
